{% extends 'base.html' %}
{% load static %}

{% block content %}
  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mb-5 mb-lg-0">
          {% for post in posts %}
            <article class="row mb-5">
              <div class="col-12">
                <div class="post-slider">
                  <img loading="lazy" src="{{ post.post_image.url }}" class="img-fluid" alt="post-thumb" />
                </div>
              </div>
              <div class="col-12 mx-auto">
                <h3><a class="post-title" href="{% url 'post' post.slug %}">{{ post.title }}</a></h3>
                <ul class="list-inline post-meta mb-4">
                  <li class="list-inline-item">
                    <i class="ti-user mr-2"></i><a href="{% url 'profile' post.author.username %}">{{ post.author.name }}</a>
                  </li>
                  <li class="list-inline-item">Date : {{ post.created_at }}</li>
                  <li class="list-inline-item">
                    Categories :{% for category in post.category.all %}
                      <a href="#!" class="ml-1">{{ category.name }}</a>{% if not forloop.last %},{% endif %}
                    {% endfor %}
                  </li>
                </ul>
                <p>{{ post.content|truncatewords:30 }}</p> <a href="{% url 'post' post.slug %}" class="btn btn-outline-primary">Continue Reading</a>
              </div>
            </article>
          {% endfor %}
        </div>
        <aside class="col-lg-4">
          <!-- Search -->
          <div class="widget">
            <h5 class="widget-title"><span>Search</span></h5>
            <form action="{% url 'home' %}" method="get" class="widget-search">
              <input id="search-query" name="q" type="search" placeholder="Type &amp; Hit Enter..." />
              <button type="submit"><i class="ti-search"></i></button>
            </form>
          </div>
          <!-- categories -->
          {% include 'post/category.html' %}
          <!-- tags -->

          <!-- latest post -->
          <div class="widget">
            <h5 class="widget-title"><span>Latest Article</span></h5>
            <!-- post-item -->
            <ul class="list-unstyled widget-list">
              <li class="media widget-post align-items-center">
                <a href="post-elements.html"><img loading="lazy" class="mr-3" src="images/post/post-6.jpg" /></a>
                <div class="media-body">
                  <h5 class="h6 mb-0"><a href="post-elements.html">Elements That You Can Use To Create A New Post On This Template.</a></h5>
                  <small>March 15, 2020</small>
                </div>
              </li>
            </ul>
            <ul class="list-unstyled widget-list">
              <li class="media widget-post align-items-center">
                <a href="post-details-1.html"><img loading="lazy" class="mr-3" src="images/post/post-1.jpg" /></a>
                <div class="media-body">
                  <h5 class="h6 mb-0"><a href="post-details-1.html">Cheerful Loving Couple Bakers Drinking Coffee</a></h5>
                  <small>March 14, 2020</small>
                </div>
              </li>
            </ul>
            <ul class="list-unstyled widget-list">
              <li class="media widget-post align-items-center">
                <a href="post-details-2.html"><img loading="lazy" class="mr-3" src="images/post/post-2.jpg" /></a>
                <div class="media-body">
                  <h5 class="h6 mb-0"><a href="post-details-2.html">Cheerful Loving Couple Bakers Drinking Coffee</a></h5>
                  <small>March 14, 2020</small>
                </div>
              </li>
            </ul>
          </div>
        </aside>
      </div>
    </div>
  </section>
{% endblock %}
