<div class="widget">
  <h5 class="widget-title"><span>Latest Article</span></h5>
  <!-- post-item -->

  {% for post in latest_post %}
  <ul class="list-unstyled widget-list">
    <li class="media widget-post align-items-center">
      <a href="{% url 'post' post.slug %}"
        ><img loading="lazy" class="mr-3" src="{{ post.post_image.url }}"
      /></a>
      <div class="media-body">
        <h5 class="h6 mb-0">
          <a href="{% url 'post' post.slug %}">{{post.title}}</a>
        </h5>
        <small>{{ post.created_at }}</small>
      </div>
    </li>
  </ul>
  {% endfor %}
</div>
