{% extends 'base.html' %} {% load static %} {% block content %}
<section class="section">
  <div class="container">
    <article class="row mb-4">
      <div class="col-lg-10 mx-auto mb-4">
        <h1 class="h2 mb-3">{{ post.title }}</h1>
        <ul class="list-inline post-meta mb-3">
          <li class="list-inline-item">
            <i class="ti-user mr-2"></i><a href="/">{{ post.author.name }}</a>
          </li>
          <li class="list-inline-item">Date : {{ post.created_at }}</li>
          <li class="list-inline-item">
            Categories : {% for category in post.category.all %}
            <a href="#!" class="ml-1">{{ category.name }}</a>
            {% if not forloop.last %},{% endif %} {% endfor %}
          </li>
        </ul>
      </div>
      <div class="col-12 mb-3">
        <div class="post-slider">
          <img
            src="{{ post.post_image.url }}"
            class="img-fluid"
            alt="post-thumb"
          />
        </div>
      </div>
      <div class="col-lg-10 mx-auto">
        <div class="content">
          <p>{{post.content | safe}}</p>
        </div>
      </div>
    </article>
  </div>
</section>
{% endblock content %}
